
<div class="container">
  <div class="page-title">
      About Us
  </div>
  <section class="content">
    <div>
      247-Logistiks is a leader in moving heavy-duty equipment and goods including precious minerals and stones throughout Europe
      and anywhere in the world. With more than 20 years’ experience we’re an expert in cargo transportation, freight forwarding and customs brokering.
    </div>

    <div>
      <h2>Our Mission</h2>
      <p>TO DEVELOP AND MAINTAIN SUPERIOR VALUE FOR OUR CUSTOMERS</p>
    </div>

    <div>
      <h2>Our Vision</h2>
      <p>BECOME THE FINEST LOGISTICS AND TRANSPORTATION COMPANY IN THE WORLD WITH THE HIGHEST QUALITY EMPLOYEES AND SERVICES</p>
    </div>

    <div>
      <h2>Values</h2>
      <ul>
        <li>Act honestly and ethically</li>
        <li>Ensure a healthy and safe work environment</li>
        <li>Accept personal responsibility</li>
        <li>Show respect for the individual</li>
        <li>Exceed expectations</li>
        <li>Be more productive and efficient</li>
        <li>Be fiscally responsible</li>
        <li>Contribute to our local community</li>
        <li>Focus on family and quality of life</li>
      </ul>
    </div>


    <div>
      <h2>How we do it</h2>
      We take a complete logistics management view to help you with:

      <ul>
        <li>Freight forwarding using ground freight</li>
        <li>Customs brokering and customs clearance</li>
        <li>Delivery anywhere in the world</li>
        <li>Safe, reliable and cost-effective transportation of your goods</li>
      </ul>


      Our in-house logistics team is known for their expertise, longevity in the market, and a reputation built on good customer communication and regular reporting. We have experience in planning and know how to avoid bottlenecks to transport cargo with the necessary permits and escorts across multiple countries and jurisdictions. We specialise in the transport of mining equipment but are also established in industrial, medical, shipping, resource and general cargo.
    </div>


  </section>

</div>
