
<div class="container">
    <div class="page-title">
        Contact Us
    </div>
    <section class="content">
        <div style="font-style: italic; font-size: .8rem;">
            Need assistance in tracking a shipment, Customer Service, Sales ?<br />
            We are on standby and ready to assist.
        </div>
        <div style="margin-top: 30px;"> <a href="tel:+45 9245 4983"><i class="pi pi-phone" style="font-size: 1.2rem; padding-right: 5px;"></i> +45 9245 4983</a> </div>
        <div> <a href="mailto:info@247-logistics.com"><i class="pi pi-envelope" style="font-size: 1.2rem; padding-right: 5px;"></i> info@247-logistics.com</a> </div>
    </section>
    
</div>