<div class="container">
    <div class="page-title">
        Terms & Conditions
    </div>
    <section>
        THE FOLLOWING TERMS AND CONDITIONS GOVERN YOUR USE OF 247-LOGISTIKS.COM, INCLUDING 247-LOGISTIKS SHIP MANAGER AT 247-LOGISTIKS.COM ("SHIP MANAGER"), 247-LOGISTIKS DELIVERY MANAGER, 247-LOGISTIKS GLOBAL TRADE MANAGER ("GTM"), 247-LOGISTIKS MOBILE, 247-LOGISTIKS TRACKING SIGNATURE PROOF OF DELIVERY, 247-LOGISTIKS TRACKING UPDATES AND 247-LOGISTIKS BILLING ONLINE. YOUR VIEWING OR USE OF THIS SITE WILL CONSTITUTE YOUR AGREEMENT, ON BEHALF OF YOURSELF AND THE ENTITY YOU REPRESENT (HEREINAFTER COLLECTIVELY "YOU" OR "YOUR"), TO ALL OF THE TERMS AND CONDITIONS PROVIDED BELOW.

247-LOGISTIKS MAY MAKE FUTURE CHANGES OR MODIFICATIONS TO SUCH TERMS AND CONDITIONS AT ANY TIME WITHOUT NOTICE, AND YOUR SUBSEQUENT VIEWING OR USE OF 247-LOGISTIKS.COM WILL CONSTITUTE YOUR AGREEMENT TO THE CHANGES AND MODIFICATIONS. THERE MAY BE ADDITIONAL TERMS AND CONDITIONS PROVIDED THROUGHOUT 247-LOGISTIKS.COM GOVERNING YOUR USE OF PARTICULAR FUNCTIONS, FEATURES, INFORMATION AND APPLICATIONS AVAILABLE THROUGH 247-LOGISTIKS.COM.
    </section>

    <section>
        <div class="section-title">
            Section 1. Definitions
        </div>
        Content: information, graphics, products, features, functionality, services, and links on 247-LOGISTIKS.com, including 247-LOGISTIKS Ship Manager® at 247-LOGISTIKS.com, 247-LOGISTIKS® Global Trade Manager, and 247-LOGISTIKS® Billing Online, 247-LOGISTIKS Tracking Signature Proof of Delivery and 247-LOGISTIKS Tracking Updates.

247-LOGISTIKS: 247-LOGISTIKS Corporate Services, Incorporated, its parent and its parent's subsidiary companies.

You: Yourself and the entity that you represent
    </section>

    <section>
        <div class="section-title">
            Section 2. Use of 247-LOGISTIKS
        </div>
        247-LOGISTIKS.com is provided solely for the use of current and potential 247-LOGISTIKS customers to interact with 247-LOGISTIKS and may not be used by any other person or entity, or for any other purpose. Specifically, all shipping, tracking, rating, receiving 247-LOGISTIKS invoices and remitting payment using electronic funds transfer ("EFT"), drop-off location, identifying and preparing international documents, estimating duties and taxes, and other information and services may only be used by current and potential 247-LOGISTIKS customers for their own shipments. Use of 247-LOGISTIKS.com to provide information to or prepare shipments by or for the benefit of third party shippers is expressly prohibited.

The use of non-authorized scripting technologies to obtain information from 247-LOGISTIKS.com or submit information through 247-LOGISTIKS.com is strictly prohibited.

247-LOGISTIKS does not accept ideas, concepts, or techniques for new services or products through 247-LOGISTIKS.com. If such information is received, it will not be considered confidential and 247-LOGISTIKS will be deemed free to use, communicate and exploit such information in any manner it chooses.
    </section>

    <section>
        <div class="section-title">
            Section 3. 247-LOGISTIKS Login Registration
        </div>
        You may choose to register on 247-LOGISTIKS.com to access interactive features on 247-LOGISTIKS.com. 247-LOGISTIKS.com Login provides you with access to 247-LOGISTIKS Ship Manager at 247-LOGISTIKS.com, 247-LOGISTIKS® Tracking, My 247-LOGISTIKS, 247-LOGISTIKS Global Trade Manager, 247-LOGISTIKS Billing Online, 247-LOGISTIKS® Mobile and other online services. The availability of these services varies by country. In the future, 247-LOGISTIKS may add other features that may be accessed through 247-LOGISTIKS.com Login. In such event, previously registered users will not be required to re-register.

By registering on 247-LOGISTIKS.com, You agree to provide accurate and current information about Yourself as prompted by the 247-LOGISTIKS.com Login Registration pages and maintain and promptly update Your online profile information to keep it accurate and current.
Some 247-LOGISTIKS.com services are being made available to customers based in some countries and not others. You agree to register only for 247-LOGISTIKS.com services offered on the 247-LOGISTIKS.com website for the country in which your 247-LOGISTIKS account is based. For example, if your 247-LOGISTIKS account is based in Canada, you will register for services offered on 247-LOGISTIKS.com/ca and not for services offered on 247-LOGISTIKS.com/us.
When you register using 247-LOGISTIKS.com Login Registration, you will select a user ID and password. You are responsible for maintaining the confidentiality of the password and user ID, and you are responsible for all activities that occur under Your password and user ID. You agree to (a) immediately notify 247-LOGISTIKS of any unauthorized use of Your user ID and password, and (b) ensure that You exit from Your 247-LOGISTIKS.com session at the end of each visit.
You acknowledge and agree that it may be necessary from time to time for 247-LOGISTIKS to confirm the validity of the credit card information you provided to open your 247-LOGISTIKS account. When this occurs, 247-LOGISTIKS may request a temporary authorization hold for a nominal amount on your card. This authorization hold does not result in actual charges to your card. These authorizations will automatically expire based on guidelines established by your card issuer.
    </section>

    <section>
        <div class="section-title">
            Section 4. Changes to 247-LOGISTIKS.com
        </div>
        247-LOGISTIKS.com and its Content, may be changed, deleted or updated at any time without notice.
    </section>

    <section>
        <div class="section-title">
            Section 5. Termination of Use
        </div>

247-LOGISTIKS may discontinue, suspend or modify 247-LOGISTIKS.com at any time without notice, and 247-LOGISTIKS may block, terminate or suspend Your and any user's access to 247-LOGISTIKS.com at any time for any reason in its sole discretion, even if access continues to be allowed to others.
    </section>

    <section>
        <div class="section-title">
            Section 6. Ownership
        </div>

247-LOGISTIKS.com and its Content are protected by United States and international copyright, trademark and other laws. © 1995-2008 247-LOGISTIKS. All rights reserved. Specifically, 247-LOGISTIKS does not convey to anyone, through allowing access to 247-LOGISTIKS.com, any ownership rights in 247-LOGISTIKS.com or in any Content appearing on or made available through 247-LOGISTIKS.com. Customer may not copy, modify, translate, transmit, distribute, adapt, reproduce, decompile, reverse engineer or disassemble any part of 247-LOGISTIKS.com or its Content.
    </section>

    <section>
        <div class="section-title">
            Section 7. Disclaimer of Warranty
        </div>

247-LOGISTIKS.COM AND ITS CONTENT ARE PROVIDED "AS IS". 247-LOGISTIKS AND ITS LICENSORS DISCLAIM ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, REGARDING ANY SUCH CONTENT AND YOUR ABILIITY OR INABILITY TO USE 247-LOGISTIKS.COM AND ITS CONTENT.

247-LOGISTIKS EXPRESSLY DISCLAIMS AND EXCLUDES ALL WARRANTIES REGARDING 247-LOGISTIKS.COM, SHIP MANAGER AND THE FUNCTIONING OF THE INTERNET WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. 247-LOGISTIKS DOES NOT WARRANT THAT SHIP MANAGER WILL MEET ALL OF CUSTOMER'S REQUIREMENTS OR THAT ITS OPERATIONS WILL BE UNINTERRUPTED OR ERROR FREE, OR THAT ANY DEFECT WITHIN SHIP MANAGER WILL BE CORRECTED. FURTHERMORE, 247-LOGISTIKS DOES NOT WARRANT NOR MAKE ANY REPRESENTATION REGARDING THE RESULTS OF CUSTOMER'S USE OF SHIP MANAGER OR GLOBAL TRADE MANAGER IN TERMS OF CAPABILITY, CORRECTNESS, ACCURACY, RELIABILITY OR OTHERWISE. NO ORAL OR WRITTEN INFORMATION, REPRESENTATION OR ADVICE GIVEN BY 247-LOGISTIKS OR AN AUTHORIZED REPRESENTATIVE OF 247-LOGISTIKS SHALL CREATE A WARRANTY.
    </section>

    <section>
        <div class="section-title">
            Section 8. Limitation of Liability
        </div>

USE OF 247-LOGISTIKS.COM AND ITS CONTENT IS AT YOUR SOLE RISK. 247-LOGISTIKS WILL IN NO EVENT BE LIABLE TO YOU OR ANY PERSON OR ENTITY CLAIMING THROUGH YOU FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, INCIDENTAL OR OTHER DAMAGES UNDER ANY THEORY OF LAW FOR ANY ERRORS IN OR THE USE OF OR INABILITY TO USE 247-LOGISTIKS.COM AND ITS CONTENT INCLUDING WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, BUSINESS, DATA, OR DAMAGE TO ANY COMPUTER SYSTEMS, EVEN IF YOU HAVE ADVISED 247-LOGISTIKS OF THE POSSIBILITY OF SUCH DAMAGES.
    </section>

    <section>
        <div class="section-title">
            Section 9. Indemnity
        </div>

You agree to defend, indemnify and hold harmless 247-LOGISTIKS, its parent and affiliate companies and their respective officers, directors, employees, agents and representatives from any and all claims (i) arising out of Your breach of any of these terms and conditions, and any of Your activities conducted in connection with this site.
    </section>

    <section>
        <div class="section-title">
            Section 10. 247-LOGISTIKS Service Guide
        </div>

The terms and conditions for using 247-LOGISTIKS delivery and related services are contained in the most current version of the 247-LOGISTIKS Service Guide, which is available by request. The most current version of the 247-LOGISTIKS Service Guide will control in the event of any conflict between any 247-LOGISTIKS delivery or related service information on 247-LOGISTIKS.com and the delivery or related service information contained in the most current version of the 247-LOGISTIKS Service Guide.
    </section>
</div>
